@use '/src/client/assets/styles/styles' as s;
@import '../../../assets/styles/variables';

.newsletter {
    @include s.flexCenter(row);
    justify-content: space-around;
    width: 100vw;
    height: 148px;
    padding: 20px;
    border-top: 1px solid $primaryColor;

    .content {
        @include s.flexCenter(row);

        height: 80%;

        h2 {
            width: 210px;
        }
    
        p {
            width: 300px;
            font-size: 1.15rem;
        }
    
        hr {
            height: 90%;
            margin: 20px;

            @include s.mobile {
                width: 100%
            }
        }

        @include s.mobile {
            @include s.flexCenter(column);
            height: fit-content;
        }
    }

    form {
        @include s.flexCenter(row);

        input {
            height: 40px;
            font-size: 1em;
            line-height: 45px;
            padding-left: 10px;
            border: 2px solid $thirdColor;
            width: 300px;
            outline: none;
            background: #fff; 
            color: #a2a5a7;
        }

        button {
            color: white;
            background-color: $thirdColor;
            border: 1px solid $thirdColor;
            height: 40px;

            &:hover {
                background-color: #835626;
                border: 1px solid #835626;
                color: white;
            }
            @include s.mobile {
                width: 100%;
            }
        }

        @include s.mobile {
            @include s.flexCenter(column);
        }
    }

    @include s.mobile {
        @include s.flexCenter(column);
        height: fit-content;
        row-gap: 30px;
    }
}