@use '/src/client/assets/styles/styles' as s;
@import '../../../assets/styles/variables';

.product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    position: relative;

    .price {
        margin: 8px 0;
    }

    .product-img {
        width: 250px;
        height: 346px;
        margin-bottom: 15px;
    }

    button {
        width: 100%;
        font-weight: 400;
        font-size: 1rem;
        padding: auto;
    }

    .tag {
        position: absolute;
        top: 15px;
        left: 15px;
    }
}