@use '/src/client/assets/styles/styles' as s;

.hero {
    background-image: url('/src/client/assets/images/content-pixie-WdJ4WnLxyDs-unsplash.jpg');
    background-size: cover;
    height: 100vh;

    section {
        width: 410px;

        h1 {
            font-size: 2.4rem;
        }
    }
}

.new {
    background-color: white;
    width: 50px;
}