@use '/src/client/assets/styles/styles' as s;
@import '../../../assets/styles/variables';

.servicesOffer {
    @include s.flexCenter(row);

    height: 235px;
    width: 100vw;
    padding: 100px;
    justify-content: space-around;
    background-color: $backgroundColor;

    @include s.mobile {
        @include s.flexCenter(column);
        height: fit-content;
        row-gap: 30px;
    }
}