@use '/src/client/assets/styles/styles' as s;
@import '../../../assets/styles/variables';

.catalogue {
    @include s.flexCenter(row);

    justify-content: center;
    height: 100vh;
    width: 100vw;

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }

    .menu {
        @include s.flexCenter(row);
        justify-content: space-between;
        padding: 10px;
    }
}

.products {
    @include s.flexCenter(row);

}