@use '/src/client/assets/styles/styles' as s;
@import '../../../assets/styles/variables';

.cart {
    @include s.flexCenter(row);

    .cartLink {
        padding: 0;
        border: none;
        background: none;
        margin: 5px;
        font-size: 1em;
        font-weight: 800;
    }

    .quantity button {
        height: 30px;
        width: 30px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 1em;
        font-weight: bold;
        border-radius: 50%;
        background-color: #354e57;
        border: 1.5px solid #354E57;
        color: white;
        text-align: center;
        margin: 5px;
    }

    .productDisplay {
        top: 50px;
        right: 25px;
    }
}