@use '/src/client/assets/styles/styles' as s;
@import '../../../assets/styles/variables';

.tag {
    @include s.flexCenter(row);
    
    justify-content: center;
    width: fit-content;
    height: 28px;
    padding: 0px 10px;
    font-weight: 600;
}

.white {
    background-color: white;
    color: $primaryColor;
}

.blue {
    background-color: $secondBackgroundColor;
    color: $primaryColor;
}

.beige {
    background-color: $secondBackgroundColor;
    color: $thirdColor;
}