@import './variables';


@mixin flexCenter($direction) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
}

* {
    font-family: $font-family;
    color: $primaryColor;
    padding: 0;
    margin: 0;
    font-size: 12px;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

